<h2>Рабочий график рынка: </h2>
</div>
<table class="table table-hover table-bordered text-center">
  <thead>
  <tr>
    <th>День недели</th>
    <th>Время работы</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Воскресенье</th>
    <th>8:00 AM - 8:00 PM</th>
  </tr>
  <tr>
    <th>Понедельник</th>
    <th>8:00 AM - 8:00 PM</th>
  </tr>
  <tr>
    <th>Вторник</th>
    <th>8:00 AM - 8:00 PM</th>
  </tr>
  <tr>
    <th>Среда</th>
    <th>8:00 AM - 8:00 PM</th>
  </tr>
  <tr>
    <th>Четверг</th>
    <th>8:00 AM - 8:00 PM</th>
  </tr>
  <tr>
    <th>Пятница</th>
    <th>8:00 AM - 8:00 PM</th>
  </tr>
  <tr>
    <th>Суббота</th>
    <th>8:00 AM - 8:00 PM</th>
  </tr>
  </tbody>
</table>
</div>